# make github display the BASIC loaders slightly less stupidly
# *.DO linguist-language=bas text eol=cr
*.DO text eol=cr diff encoding=ascii
*.100 text eol=cr diff encoding=ascii
*.200 text eol=cr diff encoding=ascii
*.M10 text eol=cr diff encoding=ascii
*.NEC text eol=cr diff encoding=ascii
*.K85 text eol=cr diff encoding=ascii
