# make github display the BASIC loaders slightly less stupidly
# *.DO linguist-language=bas text eol=cr
*.DO text eol=cr diff
*.100 text eol=cr diff
*.200 text eol=cr diff
*.M10 text eol=cr diff
*.NEC text eol=cr diff
*.K85 text eol=cr diff
