# try to make github display the BASIC loaders better
*.DO linguist-language=BASIC encoding=CP437
*.100 linguist-language=BASIC encoding=CP437
*.200 linguist-language=BASIC encoding=CP437
*.M10 linguist-language=BASIC encoding=CP437
*.NEC linguist-language=BASIC encoding=CP437
*.K85 linguist-language=BASIC encoding=CP437
*.S85 linguist-language=Assembly encoding=CP437
